footer{
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 -5px 40px rgba(0, 0, 0, .16);

}
//div {
//  margin: 0 137px 0 137px;
  .footcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1352px;
    height: 89px;
    background-color: $color-white;

    .footcontent {
      h4{
        font-size: 26px;
        font-family: $rale;
        font-weight: 300;
        color: $color_primary;
      }
      p{
        font-size: 11px;
        font-family: $open;
        font-weight: 400;
        color: $color-grey;
      }

    }

    .buttonspace {
      .footbut{
        background: none;
        border: none;
      }
    }
  }
//}