@import "colors";
@import "../settings/mixins";
.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  //width: 100%;

  &__container {
    a{
      text-decoration: none;
      color: $color-primary;
      font-size: 32px;
    }
    margin-left: 11em;
    margin-right: 11em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include mobile{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .nav {
    &__element {
      padding: 0 26px;
      list-style-type: none;
      text-decoration: none;
      a{
        text-decoration: none;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      color: $color-grey;
      font-weight: 700;
      font-size: 0.6875rem;
      text-transform: uppercase;
      padding: 28px 18px 22px;
      border-bottom: 4px solid transparent;
      letter-spacing: 0.1875rem;

      &:hover {
        color: $color-black;
        border-color: $color-primary;
      }
    }
  }

  &__nav {
    display: flex;

    @include mobile {
      position: absolute;
      left: 0;
      top: 95px;
      flex-direction: column;
      background-color: white;
      width: 100%;
      padding-bottom: 20px;
      display: none;
      //margin: 0 10px;

      .nav__element {
        padding: 0;
      }

      .nav__link {
        display: block;
        padding: 14px 20px;
      }
    }
  }

  .menu {
    &__btn {
      display: none;
      position: absolute;
      top: -9999px;
      left: -9999px;
      opacity: 0;

      @include mobile {
        &:checked {
          ~ .header__nav {
            display: flex;
          }

          ~ .menu__toggle {
            span {
              &:nth-child(1) {
                transform: rotate(45deg) translate(2px, 5px);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:nth-child(3) {
                transform: rotate(-45deg) translate(2px, -5px);
              }
            }
          }
        }
      }
    }

    &__toggle {
      display: none;

      span {
        width: 20px;
        height: 2px;
        display: block;
        margin-bottom: 3px;
        background-color: $color-primary;
        transition: .3s all ease-in-out;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include mobile {
        display: block;
      }
    }
  }
}